* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: radial-gradient(circle at top, #fdf2ff 0, #f5f7ff 35%, #eef2ff 100%);
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* index.css */

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: #020617;           /* very dark slate */
  color: #e5e7eb;                /* light gray text */
}
